*{
    margin: 0;
    padding: 0;
}

html {
	font-family: Targetica, "Helvetica Neue", Helvetica, "Neue Montreal", Arial, sans-serif;

}

a {
	color: grey;
}

.module-container {
	position: relative;
	text-align: center;
	height: auto;
	width: 90%;
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	background-color: ivory;
	left: 5%;
	
}

.star-container {
	position: relative;
	width: 200px;
	margin: auto;
	right: 10px;

}

.small-star {
	position: relative;
	height: 15px;
	width: 15px;
	
}

.button-container {

}

.reviews-container {
	border: solid 1px green;
	text-align: left;
	height: auto;
	position: relative;
    margin: 5px;
    line-height: 1.7em;

}

.review-box {
	width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4285em;
	
    border: solid 1px black;
	font-size: 14px;
	

}

.username-date {
	position: relative;
	left: 5px;
	color: rgb(102,102,102);

}

.left-text {
	text-align: left;
}

button {
	font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    display: inline-block;
    font-size: 12px;
    line-height: 1.42857;
    margin-right: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    padding: 6px 10px;
    border-radius: 4px;
    border-color: rgb(204, 0, 0);
}

.write {
background-color: rgb(204, 0, 0);
border-color: rgb(204, 0, 0);
color: rgb(255, 255, 255);
}

.write:hover {
background-color: #a8140f;
}

.see {
background-color: white;
border-color: rgb(136,136,136);
color: black;
}

.see:hover {
background-color: #f7f5f3;
border-color: black;
}

 v

